.ui.payment {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 3rem;

  .form-container {
    background: repeating-linear-gradient(135deg, whitesmoke 40%, white 60%),
      repeating-linear-gradient(45deg, whitesmoke 40%, white 60%);
    background-size: 12px 18px;
    align-self: center;
    padding: unset;
    padding-bottom: 1.1rem;
  }
  .form {
    max-width: 550px;
    margin: auto;

    .amount-field > .label {
      width: 20%;
      text-align: center;
    }
    .button {
      margin-top: 0.8rem;
    }
    + .message {
      margin: 0 auto;
      margin-top: 1rem;
      width: 90%;
      max-width: 600px;
    }
  }
}
